.all-row {
    width: 1100px;
    height: 450px;
    margin: 30px;
    overflow: auto;
}

.row {
    display: flex;
}


.first {
    font-size: 20px;
    font-weight: 600px ;
}

.all {
    height: 33px;
    font-size: 16px;
    text-align: center;
    line-height: 33px;
    border-right: 2px solid #828282;
}

.all-title {
    width: 770px;
    overflow: hidden;
}

.a-two {
	    color: #FF8400;
}

.all-author {
    width: 210px;
}

.all-type {
    width: 210px;
}

.all-time {
    width: 600px;
    border: none;
}

.first-div {
    background-color: #FFB43E;
    border: none;
}

.one {
    background-color: #DBDBDB;
}

.two {
    background-color: #ABD9B0;
}

.search-result {
	font-weight: bold;
	font-size: 18px;
	color: #0021FF;
}